* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    color: white;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.header-link {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 30px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-basis: 450px
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext {
    margin-bottom: 10px;
}

.hero-subtext,
.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    align-self: flex-start;
    border-radius: 8px;
    border: none
}

.hero-image {
    height: 300px;
    width: auto;
}

.information-section,
.call-to-action-section {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-section {
    flex-basis: 300px;
    background-color: #E5E7EB;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 700px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 20px;
}

.quote-source {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.call-to-action-box {
    background-color: #3882f6;
    flex-basis: 700px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 8px;
}

.call-to-action-title {
    font-size: 24px;
}

.call-to-action-box .sign-up-button {
    border-style: solid;
    border-width: 1px;
    border-color: aliceblue;
    align-self: center;

}


.footer {
    height: 50px;

}